/* ------- Globals -------- */
body{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(29, 29, 29);
}

#home{
    position: relative;
    width: 100%;
    height: 100vh;
}

#waves{
    position: relative;
    width: 100%;
    height: 24vh;
    background-image: url(../img/waves.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#people{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #373737;
    background-repeat: repeat;
}

#news{
    position: relative;
    width: 100%;
    height: auto;
    background-image: url(../img/newsbackground.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-color: #272727;
}

#allnews{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #272727;
}

#publications{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #373737;
}

#allpublications{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #272727;
}

#teaching{
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #272727;
}

#allclasses{
    position: relative;
    width: 100%;
    height: 60vh;
    background-color: #272727;
}

#positions{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #5a5a5a;
    background-image: url(../img/bubbles.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#allpositions{
    position: relative;
    width: 100%;
    height: 60vh;
    background-color: #272727;
}

#resources{
    position: relative;
    width: 100%;
    height: auto;
    background-color:#272727;
}

#allresources{
    position: relative;
    width: 100%;
    height: 60vh;
    background-color: #272727;
}

h1{    /* Home Header */
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    height: auto;
    width: 50vw;
    text-align: center;
    font-size: 2.5vw;
    font-family: Azonix;
    color: #319da5;
    font-weight: 100;
}

h2{    /* Section Header */
    font-family: "Ubuntu";
    color: white;
    font-size: 35px;
}

h3{    /* People Classifications Header */
    font-family: "Ubuntu";
    color: white;
    font-size: 25px;
}

h4{    /* People's Names */
    font-family: "Roboto", sans-serif;
    color: white;
    transform: translateX(-8%);
    width: 120%;
    font-size: 15px;
    line-height: 1.5;
    font-weight: lighter;
    margin-top: 10px;
}

.header-underline{
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    height: 5px;
    background-color: #319da5a2;
}

.header-underline2{
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    height: 10px;
    background-color: #319da5a2;
}

.all-btn{
    text-decoration: none;
    color: white;
    border: solid white 2px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border-radius: 30px;
    padding: 10px 15px;
    transition: all .2s ease;
}

.all-btn:hover{
    background-color: white;
    color: rgb(48, 48, 48);
    text-decoration: none;
}

/* ------- Fonts -------- */
@font-face{
    font-family: Azonix;
    src: url(../fonts/Azonix-1VB0.otf);
}

/* --------- SCROLL BAR --------- */
::-webkit-scrollbar {
    width: 10px;                                  
    height: 10px;
    background-color: transparent;
}
/* Add a thumb */                               
::-webkit-scrollbar-thumb {
    background: rgb(94, 94, 94);
}

/* ------- Navigation Bar -------- */
#navbar{
    z-index: 100;
    position: fixed;
    right: 2%;
    top: 2%;
    width: 650px;
    height: auto;
    color: rgb(214, 214, 214);
    font-family: 'Ubuntu';
    font-weight: 400;
    text-align: center;
    padding: 10px 0px;
    background-color: #363636a1;
    border-radius: 100px;
    display: none;
    transition: .3s ease-in-out;
}

#navbar a{
    font-size: 17px;
    padding: 0px 1.5%;
    text-decoration: none;
    color: rgb(214, 214, 214);
    font-weight: 400;
    transition: .2s ease-in-out;
}

#small-navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 100;
    width: 100vw;
    height: auto;
    position: fixed;
    background-color: #363636e7;
    color: rgb(214, 214, 214);
    box-shadow: 0px 5px 5px rgba(26, 26, 26, 0.596);
    font-family: 'Ubuntu';
    font-weight: 400;
    text-align: center;
    transition: .3s ease-in-out;
}

#small-navbar a{
    font-size: 17px;
    padding: 0px 2.3%;
    line-height: 2;
    text-decoration: none;
    color: rgb(214, 214, 214);
    font-weight: 400;
    transition: .2s ease-in-out;
}


/* ------- Home Section -------- */

#homeh1{
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    height: auto;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    font-size: 60px;
    font-family: Azonix;
    color: #319da5;
    font-weight: 100;
    display: none;
}

#homep{
    position: relative;
    top: 30%;
    left: 50%;
    width: 80%;
    max-width: 750px;
    transform: translate(-50%);
    text-align: center;
    color: rgb(214, 214, 214);
    font-size: 22px;
    font-family: 'Ubuntu';
    line-height: 1.7;
    display: none;
}

#icons{
    position: relative;
    transform: translate(-50%);
    height: 25%;
    width: 55vw;
    background-color: transparent;
    top: 45%;
    left: 50%;
    text-align: center;
}

#icons img{
    height: 70px;
    margin: 4%;
    
}

#dsslogo{
    position: absolute;
    top: 3%;
    left: 3%;
    min-width: 150px;
    width: 11vw;
    display: none;
}

#fsulogo{
    position: absolute;
    bottom: 2%;
    right: 1%;
    width: 12%;
    min-width: 150px;
    display: none;
}

#powerlines{
    z-index: -1;
    position: absolute;
    background-image: url(../img/wpowerlines.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .3;
}


/* ------- People Section -------- */

.round-headshot{
    border-radius: 100%;
    width: 100%;
    transition: transform .2s ease-in-out;
}

.round-headshot:hover{
    transform: scale(1.1);
}

.member h4:hover, .member a:hover{
    color: #c9c9c9;
    text-decoration: none;
}

/* ------- News Section -------- */

.news-row{
    max-width: 60%;
    margin: auto;
    padding: 0;
}

.news-col{
    border-top: solid rgb(70, 70, 70) 2px;
    padding-left: 2%;
    padding-right: 2%;
    min-height: 120px;
}

.news-pbox{
    position: relative;
    transform: translateY(-50%);
    top: 55%;
    max-width: 75%;
    float:left;
}

.news-row p{
    position: relative;
    line-height: 1.7;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: lighter;
    color: white;
    text-align: left;
}   

.news-h1box{
    position: relative;
    transform: translateY(-50%);
    top: 55%;
    float:right;
    width: 130px;
}

.news-row h1{
    position: relative;
    width: auto;
    color: #37b2bb;
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 20px;
    text-align: left;
}

.news-pbox a{
    color: #39ccd6;
    transition: color .1s ease;
}

.news-pbox a:hover{
    color: #24838a;
    text-decoration: none;
}



/* ------- Publications Section -------- */

.recent-pub{
    position: relative;
    float: right;
    width: 90%;
}

.recent-pub h3{
    position: relative;
    float: left;
    font-size: 22px;
    line-height: 1.4;
}

.recent-pub a{
    color: white;
}

.recent-pub a:hover{
    color: #319da5;
    text-decoration: none;
    transition: .1s ease-in-out;
}

.recent-pub span{
    color: #319da5; 
    font-weight: 200;
}

.recent-pub p{
    position: relative;
    line-height: 1;
    width: 100%;
    float: left;
    color: rgb(184, 184, 184);
    font-family: "Roboto", sans-serif;
}

.number{
    position: relative;
    float: left;
    background-color: rgb(46, 46, 46);
    border-radius: 50%;
    margin-left: 3%;
    margin-top: 0.5%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 2;
    font-family: "Ubuntu", sans-serif;
    color: #319da5; 
    font-weight: 600;
    font-size: 20px;
}



/* ------- Teaching Section -------- */



/* ------- Positions Section -------- */
.positions-row{
    max-width: 60%;
    margin: auto;
}

.positions-col{
    
}
.positions-box{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color: rgb(46, 46, 46);
    float: left;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 50px;
    overflow: hidden;
    border-bottom: solid #267379 4px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.295);
    transition: transform .2s ease;
}

.positions-box:hover{
    transform: scale(1.05);
}

.positions-box h2{
    color: rgb(241, 241, 241);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #267379;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.418);
}

.positions-box p{
    color: white;
    padding: 20px 20px;
    height: 53%;
}

.positions-btn{
    text-decoration: none;
    color: white;
    border: solid white 2px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border-radius: 30px;
    padding: 10px 15px;
    transition: all .2s ease;
}

.positions-btn:hover{
    background-color: white;
    color: rgb(48, 48, 48);
    text-decoration: none;
}



/* ------- Resources Section -------- */
.resources-row{
    max-width: 60%;
    margin: auto;
}

.resources-col{

}

.resources-box{
    width: 250px;
    height: 350px;
    float: left;
    margin: 0px 50px;
    margin-bottom: 10px;
}

.resources-box h3{
    margin-top: 10px;
    font-size: 20px;
    color: rgb(224, 224, 224);
    transition: color .2s ease;
}

.resources-box h3:hover{
    color: #319da5; 
}

.resources-box a{
    text-decoration: none;
}

.resources-box img{
    transition: .2s ease;
}

.resources-box img:hover{
    transform: scale(1.05);
    opacity: 0.8;
}











/* ------- All News Page -------- */
.allnews-row{
    max-width: 80%;
    margin: auto;
    border-top: solid grey 1px;
}

.allnews-col{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.allnews-col h2{
    position: relative;
    transform: translateY(-50%);
    top: 55%;
    float:left;
    font-size:20px;
    height: auto;
    width: 12%;
    min-width: 140px;
    color: rgb(0, 204, 211);
}

.allnews-col p{
    position: relative;
    transform: translateY(-50%);
    top: 55%;
    color: white;
    float: left;
    width: 88%;
}















/* ------- All Publications Page -------- */

.publication-row{
    overflow: hidden;
    width: auto;
    height: 400px;
    max-width: 80%;
    min-width: 50%;
    padding-left: 10px;
    border: solid rgba(70, 70, 70, 0) 2px;
    background-color: rgb(33, 33, 33);
    transition: height .5s ease-in-out;
}

#patents-row, #books-row{
    height: 200px;
}

.publication-btn{
    background-color: transparent;
    border: solid rgb(211, 211, 211) 2px;
    outline: none;
    padding: 5px;
    color: rgb(211, 211, 211);
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.publication-btn:hover{
    transform: scale(1.1);
    color: rgb(41, 41, 41);
    background-color: rgb(211, 211, 211);
}

#patents-btn{
    display: none;
}

#journals-btn{
    display: none;
}

#books-btn{
    display: none;
}

.expand-conf{
    height: 1200px;
}

.expand-misc{
    height: 600px;
}

.publication-col{
    margin-bottom: 0;
    margin-top:20px;
    margin-bottom: 20px; 
    padding: 0; 
    min-width: 450px;
    max-height: 150px;
}

.publication-box{
    position: relative;
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-width: 400px;
    height: 160px;
    max-height: 160px;
    overflow: hidden;
}

.publication-box img{
    position: relative;
    float: left;
    height: 160px;
    min-height: 160px;
}

.publication-title{
    position: relative;
    width: 73%;
    font-family: "Ubuntu", sans-serif;
    padding-left: 15px;
    color: #319da5; 
    line-height: 1;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    float: left;
}

.publication-title:visited{
    text-decoration: none;
}

.publication-title:hover{
    text-decoration: none;
    color: #216d72; 
}

h5{
    position: relative;
    width: 73%;
    font-family: "Ubuntu", sans-serif;
    padding-left: 15px;
    color: #319da5; 
    font-size: 18px;
    float: left;
}

.publication-desc{
    position: relative;
    float: left;
    width: 73%;
    padding-left: 15px;
    min-height: 110px;
    font-size: 15px;
    color: white;
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
}

.publication-desc span{
    color: rgb(165, 165, 165);
}






/* ------- Media Queries -------- */

@media screen and (min-width: 1600px) {  /* Extra Large */

    /* ----- People Section -----*/
    .member{
        margin-bottom: 10%;
    }

    .member-col{
        min-width: 160px;
    }

    /* ----- All Articles Page -----*/
    .publication-row{
        height: 400px;
        max-width: 83%;
        min-width: 1400px;
    }

    #patents-row{
        height: 200px;
    }

    #books-row{
        height: 200px;
    }

    .publication-header{
        margin-left: 1%;
    }

    .expand-journ{
        height: 400px;
    }

    .expand-conf{
        height: 1200px;
    }
    
    .expand-misc{
        height: 600px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {  /* Super Large */
    
    /* ----- People Section -----*/
    .member{    
        margin-bottom: 10%;
    }

    .member-col{
        min-width: 160px;
    }

    .news-row{
        max-width: 80%;
    }

    /* ----- All Articles Page -----*/
    #journals-btn{
        display: inline;
    }

    .publication-row{
        height: 400px;
        margin-left: 9vw;
        max-width: 80%;
        min-width: 1100px;
    }

    .publication-col{
        min-width: 540px;
    }

    #patents-row{
        height: 200px;
    }

    #books-row{
        height: 400px;
    }

    .publication-header{
        margin-left: 1%;
    }

    .expand-journ{
        height: 600px;
    }

    .expand-conf{
        height: 1800px;
    }
    
    .expand-misc{
        height: 800px;
    }

    .teaching-row{
        margin-left: auto;
        margin-right: auto;
        max-width: 70%;
        min-width: 750px;
    }
    
    /* ------ All News Page ------- */
    .allnews-col{
        padding-right: 0;
    }
    
    .allnews-col p{
        width: 83%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {  /* Large */

    /* ----- People Section -----*/
    .member{
        min-width: 130px;
        max-width: 140px;
        margin-bottom: 10%;
    }

    .news-row{
        max-width: 80%;
    }

    /* ----- All Articles Page -----*/
    #journals-btn{
        display: inline;
    }

    .publication-row{
        height: 400px;
        max-width: 92%;
        margin-left: 4%;
    }

    #patents-row{
        height: 200px;
    }

    #books-row{
        height: 400px;
    }

    .publication-btn{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .publication-header{
        margin-left: 4%;
    }

    .expand-journ{
        height: 600px;
    }

    .expand-conf{
        height: 1800px;
    }
    
    .expand-misc{
        height: 800px;
    }

    /* ----- All News Page ------*/
    .allnews-col{
        padding-right: 0;
    }
    
    .allnews-col p{
        width: 80%;
    }

  }

@media screen and (min-width: 776px) and (max-width: 991px) {    /* Medium */
    
    /* ----- Globals -----*/
    #homeh1 {
        font-size: 4.5vh;
        top: 30%;
    }

    #homep{
        font-size: 2vh;
        top: 35%;
    }

    /* ----- People Section -----*/
    .member{
        min-width: 120px;
        padding-left: 5%;
        margin-bottom: 3%;
    }
    
    .news-row{
        max-width: 80%;
    }

    /* ----- All Articles Page -----*/
    .publication-header{
        margin-left: 2%;
    }

    #journals-btn{
        display: inline;
    }

    .publication-row{
        height: 590px;
        max-width: 92%;
        margin-left: 4%;
    }

    #patents-row{
        height: 200px;
    }

    #books-row{
        height: 600px;
    }

    .publication-btn{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .publication-header{
        margin-left: 4%;
    }

    .expand-journ{
        height: 1200px;
    }

    .expand-conf{
        height: 3400px;
    }
    
    .expand-misc{
        height: 1400px;
    }

    /* ----- All News Page -----*/
    .allnews-row{
        max-width: 85%;
    }
    
    .allnews-col{
        padding-right: 0;
    }
    
    .allnews-col p{
        width: 75%;
    }

  }

  @media screen and (min-width: 576px) and (max-width: 775px) {   /* Small */
    
    /* ----- Globals -----*/
    #homeh1 {
        font-size: 4vh;
        top: 30%;
    }

    #homep{
        font-size: 1.7vh;
        top: 35%;
    }

    /* ----- People Section -----*/
    .member{
        max-width: 140px;
        min-width: 130px;
        margin-bottom: 20%;
    }

    .news-row{
        max-width: 95%;
    }

    /* ----- All Articles Page -----*/
    .publication-header{
        margin-left: 2%;
    }

    #journals-btn{
        display: inline;
    }

    .publication-row{
        height: 590px;
        max-width: 92%;
        margin-left: 4%;
    }

    #patents-row{
        height: 200px;
    }

    #books-row{
        height: 600px;
    }
    
    .publication-btn{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .publication-header{
        margin-left: 4%;
    }

    .expand-journ{
        height: 1200px;
    }

    .expand-conf{
        height: 3400px;
    }
    
    .expand-misc{
        height: 1400px;
    }

    /* ----- All News Page -----*/
    .allnews-row{
        max-width: 85%;
    }
    
    .allnews-col{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 0;
    }
    
    .allnews-col p{
        transform: translateY(0);
        top: 0;
        width: 100%;
    }

    .allnews-col h2{
        transform: translateY(0);
        top: 0;
        width: 100%;
        text-align: center;
    }

  }

  @media screen and (max-width: 575px) {   /* Extra Small */

    /* ----- Globals -----*/
    h2{
        font-size: 25px;
    }

    h3{
        font-size: 22px;
    }

    #homeh1 {
        font-size: 27px;
        top: 27%;
    }

    #homep{
        font-size: 13px;
        top: 32%;
    }

    /* ----- People Section -----*/
    .member{
        max-width: 130px;
        margin-left: 33%;
        margin-bottom: 5%;
    }

    .news-row{
        max-width: 95%;

    }

    /* ----- News Section -----*/
    .news-pbox, .news-h1box{
        float:none;
        width: 100%;
        min-width: 100%;
        transform: translateY(0%);
        top: 0;
    }

    .news-col h1{
        text-align: center;
        padding-top: 15px;
    }

    /* ----- All Articles Page -----*/
    #journals-btn{
        display: inline;
    }

    .publication-row{
        height: 590px;
        max-width: 92%;
        margin-left: 4%;
    }

    #patents-row{
        height: 200px;
    }

    #books-row{
        height: 600px;
    }

    .publication-btn{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .publication-header{
        margin-left: 4%;
    }

    .expand-journ{
        height: 1200px;
    }

    .expand-conf{
        height: 3400px;
    }
    
    .expand-misc{
        height: 1400px;
    }

    /* ----- All News Page -----*/
    .allnews-row{
        max-width: 85%;
    }
    
    .allnews-col{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 0;
    }
    
    .allnews-col p{
        transform: translateY(0);
        top: 0;
        width: 100%;
    }

    .allnews-col h2{
        transform: translateY(0);
        top: 0;
        width: 100%;
        text-align: center;
    }

  }

  @media screen and (max-width: 470px){
      .publication-row img{
          display: none;
      }
  }


  .hidden{
    transform: translateY(-150%);
  }